.App {
  background-color: #141414;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-bar {
  background-color: transparent;
}

#basic-nav-dropdown {
  color: grey;
}

#basic-nav-dropdown img {
  width: 30px;
}

.navbar-toggler-icon {
  color: white;
}

@media (max-width: 768px) {
  #nav-bar {
    background-color: #141414;
  }
}

.netflix-logo {
  width: 110px;
  height: 50px;
}

.jumbotron {
  position: relative;
  background-color: #141414;
}

.jumbotron > div {
  color: rgb(135, 139, 135);
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.jumbotron button {
  font-size: 40px;
  font-weight: bolder;
}

#dropdown-basic {
  background-color: #282c34;
  border-color: white;
}

.cards-main {
  width: 200px;
  position: relative;
}

.cards-container {
  position: absolute;
  bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
}
